ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
	}
	
li {
	float: middle;
	}
	
li a {
	display: block;
	color: #DA0522   ;
	text-align: center;
	padding: 14px 15px;
	text-decoration: none;
	}	
summary {

	font-family: 'Jester';
	color: #000000;
}	 
