ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
	}
	
li {
	float: right;
	}
	
li a {
	display: block;
	color: #FF0FF7  ;
	text-align: center;
	padding: 14px 15px;
	text-decoration: none;
	}

summary {

	font-family: 'Comic Sans Ms';
	color: Black;
}	 